!include %%COMMON%%/conf/my.cnf

[client]
#password	= your_password
port		= 3330
socket		= %%MYSQL_BASE%%/run/mysql.sock

[mysqld]
port		= 3330
server-id	= 1
socket		= %%MYSQL_BASE%%/run/mysql.sock
pid_file        = %%MYSQL_BASE%%/run/mysql.pid
tmpdir          = %%MYSQL_BASE%%/tmp
log-bin		= %%MYSQL_BASE%%/log/mysql-bin
binlog_format	= mixed

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir = /var/lib/mysql
#innodb_data_file_path = ibdata1:10M:autoextend
#innodb_log_group_home_dir = /var/lib/mysql
